In [1]:
from provenquant.core.labeling import filtrate_tripple_label_barrier, get_tripple_label_barrier
from provenquant.utils import get_volatility
import os
import pandas as pd

In [2]:
current_dir = os.getcwd()
dataframe_path = os.path.join(current_dir, '..', '..', 'data', 'btc_usdt.feather')
dataframe = pd.read_feather(dataframe_path)
dataframe

,date,open,high,low,close,volume
0,2025-12-01 00:00:00+00:00,90360.01,90417.00,90268.77,90408.34,59.95250
1,2025-12-01 00:01:00+00:00,90408.34,90408.34,90300.00,90300.01,9.99673
2,2025-12-01 00:02:00+00:00,90300.01,90340.25,90278.33,90305.55,31.79438
3,2025-12-01 00:03:00+00:00,90305.55,90305.55,90194.27,90194.27,57.04552
4,2025-12-01 00:04:00+00:00,90194.28,90194.28,89510.00,89816.17,503.41775
...,...,...,...,...,...,...
43196,2025-12-30 23:56:00+00:00,88506.00,88532.55,88505.99,88532.55,1.28329
43197,2025-12-30 23:57:00+00:00,88532.55,88532.55,88523.10,88523.11,1.29438
43198,2025-12-30 23:58:00+00:00,88523.11,88523.11,88523.10,88523.10,0.65562
43199,2025-12-30 23:59:00+00:00,88523.10,88523.11,88485.49,88485.49,6.39077
43200,2025-12-31 00:00:00+00:00,88485.50,88485.50,88426.51,88445.33,6.61197

In [3]:
volatility = get_volatility(
    dataframe,
    window=100,
)
threshold = volatility.mean() * 10
threshold

np.float64(0.005408195057124239)

In [4]:
filtered_dataframe = filtrate_tripple_label_barrier(
    dataframe,
    cusum_threshold=threshold,
    vertical_barrier=20,
    datetime_col='date'
)
filtered_dataframe

,t1,open,high,low,close,volume
2025-12-01 00:04:00+00:00,2025-12-01 00:24:00+00:00,90194.28,90194.28,89510.00,89816.17,503.41775
2025-12-01 00:07:00+00:00,2025-12-01 00:27:00+00:00,89480.01,89536.00,89200.20,89208.76,101.52469
2025-12-01 00:19:00+00:00,2025-12-01 00:39:00+00:00,88808.35,88808.35,88626.04,88719.99,67.58118
2025-12-01 00:32:00+00:00,2025-12-01 00:52:00+00:00,88319.58,88319.58,88044.17,88083.84,167.45610
2025-12-01 00:45:00+00:00,2025-12-01 01:05:00+00:00,87737.65,87775.51,87620.34,87650.09,60.11226
...,...,...,...,...,...,...
2025-12-30 16:18:00+00:00,2025-12-30 16:38:00+00:00,89133.39,89284.68,89117.38,89268.32,44.64159
2025-12-30 16:35:00+00:00,2025-12-30 16:55:00+00:00,88960.99,89040.00,88852.56,88883.34,80.35831
2025-12-30 17:45:00+00:00,2025-12-30 18:05:00+00:00,88533.43,88533.43,88333.34,88373.43,92.94989
2025-12-30 20:53:00+00:00,2025-12-30 21:13:00+00:00,87978.37,87978.38,87920.00,87920.01,31.21459
2025-12-30 22:03:00+00:00,2025-12-30 22:23:00+00:00,88315.46,88420.00,88315.45,88412.00,15.99224

In [5]:
close_series = pd.Series(data=dataframe['close'].values, index=dataframe['date'])

labeld_dataframe = get_tripple_label_barrier(
    dataframe=filtered_dataframe,
    close_series=close_series,
    min_return=threshold,
)

labeld_dataframe

,t1,open,high,low,close,volume,label,return
2025-12-01 00:04:00+00:00,2025-12-01 00:24:00+00:00,90194.28,90194.28,89510.00,89816.17,503.41775,-1,-0.014179
2025-12-01 00:07:00+00:00,2025-12-01 00:27:00+00:00,89480.01,89536.00,89200.20,89208.76,101.52469,-1,-0.009077
2025-12-01 00:19:00+00:00,2025-12-01 00:39:00+00:00,88808.35,88808.35,88626.04,88719.99,67.58118,-1,-0.009695
2025-12-01 00:32:00+00:00,2025-12-01 00:52:00+00:00,88319.58,88319.58,88044.17,88083.84,167.45610,-1,-0.007788
2025-12-01 00:45:00+00:00,2025-12-01 01:05:00+00:00,87737.65,87775.51,87620.34,87650.09,60.11226,0,-0.002773
...,...,...,...,...,...,...,...,...
2025-12-30 16:18:00+00:00,2025-12-30 16:38:00+00:00,89133.39,89284.68,89117.38,89268.32,44.64159,0,-0.004433
2025-12-30 16:35:00+00:00,2025-12-30 16:55:00+00:00,88960.99,89040.00,88852.56,88883.34,80.35831,0,-0.002063
2025-12-30 17:45:00+00:00,2025-12-30 18:05:00+00:00,88533.43,88533.43,88333.34,88373.43,92.94989,0,-0.000135
2025-12-30 20:53:00+00:00,2025-12-30 21:13:00+00:00,87978.37,87978.38,87920.00,87920.01,31.21459,0,0.001379
2025-12-30 22:03:00+00:00,2025-12-30 22:23:00+00:00,88315.46,88420.00,88315.45,88412.00,15.99224,0,-0.000018